@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

:root {
    --first-color:#1B262C;
    --second-color:#0F4C75;
    --third-color:#3282B8;
    --fourth-color:#BBE1FA;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

  /* !NAVBAR */
.navbar-brand {
    font-size: 26px;
    line-height: 54px;
    color: var(--second-color) !important;
    padding-left: 20px;
}
.navbar-brand img{
    width: 50px;
    margin-bottom: 15px;
}
.navbar-brand span {
    margin-left: 15px;
}
.navbar-brand b {
    color: var(--second-color);
    font-weight: bolder;
}

.active {
    color: var(--second-color) !important;
}
.nav-link {
    font-size: 20px;
    color: rgba(48, 91, 119, 0.63);
}
.nav-link:hover, .nav-link:focus, .login{
    color: var(--second-color);
}
.login img{
    margin-left: 15px;
}

/* !HEADER */
header{
    background: url(image/background.png);
    background-repeat: no-repeat;
    background-size: cover;

    display: block;
    width: 100%;
    height: 81.5vh;
}
.title-header{
    width: 67%;
    height: 207px;
    margin-top: 7rem;

}
.title-header h1{
    line-height: 60px;
    font-weight: 900;
    color: var(--second-color);
}
.title-header h5{
    line-height: 30px;
    margin-top: 20px;
    color: rgba(26, 37, 43, 0.5);
}

.col-6{
    height: 70vh;

}
.image-header {
    width: 100%;
    height: auto;
    position: relative;
}


.card-hero{
    background: rgba(15, 76, 117, 0.3);
    backdrop-filter: blur(8px) !important;
    border-radius: 20px;
    border: none;
    position: absolute;
    margin-top: 300px;
    margin-right: 800px;
    width: 342.63px;
    height: 110.92px;
    z-index: 2;
}
.img-fluid {
    position: relative;
    top: 20px;
    left: 12px;
    width: 68.53px;
    height: 69.33px;
}
.card-hero-detail{
    padding-left: 0px;
}
.card-hero-detail h5{
    font-family: 'Nunito';
    width: 254.71px;
    line-height: 27px;
    font-weight: 700;
    margin-bottom: 5px;
}
.card-hero-detail p{
    font-family: 'Nunito';
    width: 226.6px;
    font-weight: 300;
    line-height: 23px;
}


/* !MAIN */
.main , .jenis-penyakit, .search-penyakit{
    background: #F8F8F8;
    border: 1px solid #AFC1CE;
}
.search{
    padding: 3rem;
    width: 85%;
}
.search p{
    color: var(--second-color);
    font-weight: 500;
}
.button-search{
    background: #0F4C75;
    color: white;
}
.scroll{
    width: 100%;
    height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
}
.form-check-input{
    width: 24px;
    height: 22px;
}
.form-check{
    padding-top:10px ;
    text-align: left;
}
.form-check-label{
    padding-left: 10px;
    padding-top:5px ;
}

.jenis-penyakit{
    padding: 50px 0px 55px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.jenis-penyakit img{
    border: 1px solid var(--second-color);
    border-radius: 50%;
    padding: 3px;
}
.content-penyakit{
    padding-top: 35px;
}
.content-penyakit h5{
    color: var(--second-color);
}
.content-penyakit p {
    color: rgba(26, 37, 43, 0.5);
    font-size: 16px;
}
.btn-detail{
    color: var(--second-color);
    border: 1px solid var(--second-color);
    padding: 8px 60px 8px 60px ;
    margin-top: 20px;
    border-radius: 0;
    font-size: 17px;
}
.btn-detail:hover{
    background-color: var(--second-color);
    color: white;
}
.search input ,button, .card-filter{
    border-radius: 0px !important;
    box-shadow: none !important;
    border: 1px solid #0f4c7565;
}
.search input:focus{
    border: 1px solid #3282B8;
}