@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
:root{
    --first-color:#1B262C;
    --second-color:#0F4C75;
    --third-color:#3282B8;
    --fourth-color:#BBE1FA;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* *LOADING PAGE */
#loading{
    width: 100%;
    height:100vh;
    background: linear-gradient(125deg, rgba(15,76,117,1) 0%, rgba(50,130,184,1) 180%);
    display: block;
}
#loading::after{
    content: "";
    display: block;
    position: absolute;
    background: url(image/bck-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    background-position-y:bottom;
    width: 100%;
    height: 100vh;
}
.loading{
    color: #BBE1FA;
    display: flex;
    align-items: center;
    position: absolute;
    top: 280px;
    left: 100px;
}
.loading h2{
margin-left: 15px;
}
.loading img{
    margin-bottom: 10px;
}

/* !HERO PAGE */
#hero{
    height: 100vh;
}
/* Brand-hero */
.brand{
    color: #BBE1FA;
    display: flex;
    align-items: center;
    position: absolute;
    top: 15px;
    left: 20px;
}
.brand h2{
    margin-top: 10px;
    margin-left: 8px;
    font-size: 14px;
}
.brand img{
    width: 30px;
}

/* Hero-1 */
.hero-1{
    display: block;
    position: relative;
    width: 100%;
    background: linear-gradient(360deg, #0F4C75 0%, rgba(49, 130, 183, 0.5) 180%);
    border-radius: 0px 0px 50px 50px;
}
.hero-img-1{
    display: block;
    position:relative;
    margin-left: auto;
    margin-right: auto;
}
.icon-1{
    margin: 10px;
    max-width: 100%;
    height: auto;
    position:sticky;
    top: 120px;
    left: 60px;
}
.icon-2{
    margin: 10px;
    max-width: 100%;
    height: auto;
    position:sticky;
    top: 200px;
    left: 335px;
}

/* Hero-2 */
.hero-2::before{
    display: block;
    position: absolute;
    content: "";
    background: url(image/icon2-1.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    width: 100%;
    height: 200px;
    margin-top: 50px;
}
.hero-2{
    display: block;
    position: relative;
    width: 100%;
    padding-top: 55px;
    background:var(--second-color);
    border-radius: 0px 0px 50px 50px;
}

/* Hero-3 */
.hero-3{
    display: block;
    position: relative;
    width: 100%;
    padding-top: 30px;
    background: linear-gradient(120deg, #0F4C75 0%, rgba(49, 130, 183, 0.5) 180%);
    border-radius: 0px 0px 50px 50px;
}
.hero-img-2{
    display: block;
    position:relative;
    margin-left: auto;
}
.icon-3{
    max-width: 50%;
    height: auto;
    margin: 80px 0px 0px 60px;
    position: absolute;
}

/* Content-hero */
.content-hero{
    text-align: center;
    width: 85%;
    padding-top: 80px;
}
.content-hero span{
    color: var(--third-color);
}
.content-hero-2{
    text-align: center;
    width: 85%;
    padding-top: 80px;
}
.content-hero-2 span{
    color: var(--third-color);
}


/* Slide-hero */
.swiper-slide p{
    width: 100% !important;
    text-align: center;
    padding-top: 25px;
}
.swiper-slide{
    height: auto;
}
.swiper-pagination{
    margin-bottom:70px;
}
.swiper-pagination-bullet{
    height: 5px;
    width: 5px;
    border-radius: 2px;
    background: var(--second-color);
    margin-left:10px !important ;

}
.swiper-pagination-bullet-active{
    height: 5px;
    width: 20px;
    border-radius: 2px;
    background: var(--second-color);
}

/* Button-slide */
.button-control-prev{
    color: rgba(26, 37, 43, 0.5);
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    position: absolute;
    left: 40px;
    top: 710px;
}
.button-control-prev:hover{
    color: var(--second-color);
}
.button-control-next{
    color: var(--second-color);
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    position: absolute;
    right: 40px;
    top: 710px;
}
.button-control-next:hover{
    color: var(--second-color);
}
